* {
  box-sizing: border-box;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcf5f6;
}
.logo {
  margin-left: 5%;
  max-width: 400px;
  max-height: 400px;
}
.flow {
  margin-right: 5%;
  text-decoration: solid;
  font-size: larger;
  font-style: normal;
  color: #f20d81;
  font-weight: small;
}

.centre {
  margin-block-start: 50px;
  margin-left: 45%;
}
.calendar {
  margin: 50px 0px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px 0px #f20d81;
  margin-bottom: 100px;
  margin-left: -20vw;
}
.cycles {
  font-size: x-large;
}

.mom {
  display: flex;
  margin-left: -40vw;
  width: 70%;
  justify-content: space-around;
}
h2 {
  font-size: large;
  width: 100%;
}
.myfomt {
  font-size: 12px;
}
@media screen and (max-width: 2240px) and (min-width: 921px) {
  .mom {
    max-width: 2230px;
    min-width: 910px;
    width: 70vw;
    margin-left: -30vw;
  }
}
@media screen and (max-width: 920px) {
  .mom {
    max-width: 930px;
    min-width: 500px;
    width: 80vw;
    margin-left: -40vw;
  }
}
@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  .calendar {
    margin-left: -20vw;
  }
  .cycles {
    margin-left: -150px;
    position: relative;
  }
  h2 {
    font-size: 400px;
  }
  .mom {
    margin-left: -40vw;
    width: 95w;
    justify-content: space-between;
  }
  h2 {
    font-size: 10px;
  }
  .myfomt {
    font-size: 10px;
  }
}
